<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.taraxippus.visualizer" >

	<uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
	
	<uses-feature
        android:name="android.software.live_wallpaper"
        android:required="true" />
	
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
		
	<application
        android:icon="@drawable/ic_launcher"
        android:label="Visualizer" 
		android:allowBackup="true"
		android:theme="@style/AppTheme" >
		
		
		<activity
			android:name=".WallpaperPreferenceActivity"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:exported="true"
			android:label="Visualizer"
			android:theme="@style/AppTheme" >

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
					<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		
		<service
			android:name=".OpenGLESWallpaperService"
			android:label="Visualizer"
			android:permission="android.permission.BIND_WALLPAPER" >
			<intent-filter>
				<action android:name="android.service.wallpaper.WallpaperService" />
			</intent-filter>
			<meta-data
			android:name="android.service.wallpaper"
			android:resource="@xml/wallpaper" />
		</service>
		
		<receiver android:name=".BlankWidgetProvider" >
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
				android:resource="@xml/widget" />
		</receiver>
		
	</application>
</manifest>
